/* Basic CSS is Mobile First */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand-logo {
    width: 50%;
    top: 10px;
}

nav {
    height: 10vh;
}

.btn-order {
    margin-top: 20px;
    border-radius: 30px;
}

.btn-order:hover {
    box-shadow: 0 0 20px white;
}

.brand-head {
    font-size: 2rem;
    margin-top: 10vh;
}

.brand-slogan {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0px;
    font-weight: bold;
}

.list-paket li{
    margin-top: 10px;
}

/* CSS for Tablet */
@media screen and (max-width:1200px) {
    .brand-logo {
        width: 40%;
        top: 10px;
    }
}

/* CSS for Desktop */
@media screen and (min-width:1200px) {
    .brand-logo {
        width: 15%;
        top: 10px;
    }
    .brand-head {
        margin-top: 25vh;
    }
}